:root {
    --darker-base: #EDC7B7;
    --base: #EEE2DC;
    --gray: #757072;
    --blue: #123C69;
    --ruby: #AC3B61;
    --yellow: #C0987A;
    font-size: 1px;
}

#experience-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#experience-container h2 {
    position: relative;
    font-size: 70rem;
    
    font-family: 'Open Sans', sans-serif;
    color: var(--yellow);
}

#experiences-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 25%;
    width: 100%;
}

#experiences-header h2 {
    position: relative;
    font-size: 45rem;
    text-transform: uppercase;

    font-family: 'Open Sans', sans-serif;
    color: var(--yellow);
}

#experiences-header h2 span {
    position: relative;
    font-size: 18rem;
    text-transform: uppercase;

    font-family: 'Open Sans', sans-serif;
    color: var(--ruby);
}

.experience-block {
    position: relative;
    margin: 0 0 0 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.experience-year {
    position: absolute;
    left: -15%;
    font-size: 30rem;

    font-family: 'PT Sans', sans-serif;
    color: var(--gray);
}

.experience-vertical {
    position: relative;
    height: 100px;
    width: 10px;
    margin: 5% 0 5% 0;

    background-color: var(--ruby);
}

.experience-content {
    gap: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.experience-text {
    position: relative;
    padding: 0 0 0 5%;
    width: 90%;
    font-size: 20rem;
    line-height: 40px;

    font-family: 'PT Sans', sans-serif;
    color: var(--gray);
}

.experience-text p {
    width: 60%;
    font-size: 19rem;
    line-height: 35px;
}

.experience-author {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

.experiences-name {
    font-size: 25rem;
    font-weight: bold;

    font-family: 'Open Sans', sans-serif;
    color: var(--blue);
}

.experiences-name span {
    font-size: 15rem;
    font-weight: bold;

    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
}