@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    --darker-base: #EDC7B7;
    --base: #EEE2DC;
    --gray: #757072;
    --blue: #123C69;
    --ruby: #AC3B61;
    --yellow: #C0987A;
    font-size: 1px;
}

@keyframes wave {
    0%, 100% {
      clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

/* @keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
} */

.main {
    position: relative;
    min-height: 100vh;

    background: linear-gradient(20deg, var(--base), var(--darker-base), var(--base));
    background-size: 300% 100%;
    animation: gradient 2s linear infinite;
    animation-direction: alternate;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    z-index: 1;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#title-box {
    position: absolute;
    height: auto;
    display: block;
    text-align: left;
}

h1 {
    position: absolute;

    font-family: 'Work Sans', sans-serif;
    font-size: 12vmin;
    letter-spacing: 1vmin;
}

.border {
    color: var(--blue);  
    user-select: none;
    text-shadow:
      -1px -1px 0 var(--ruby), 
      1px -1px 0 var(--ruby),
      -1px 1px 0 var(--ruby),
      1px 1px 0 var(--ruby);  
}
  
.wave {
    position: relative;
    user-select: none;
    color: var(--ruby);
    animation: wave 4s ease-in-out infinite;
}

.before-title {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25rem;

    color: var(--gray);

    margin: -20vh 0 0 0;
}

.after-title {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25rem;
    color: var(--gray);
}

strong {
    color: var(--yellow)
}

.status {
    position: relative;
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 10;
    font-size: 18rem;

    color: var(--gray);
}

.status::before {
    content: '';
    position: absolute;
    margin-top: 0rem;
    top: -35%;
    left: 0;
    width: 30%;
    height: 1rem;
    transition: 0.3s;

    background-color: var(--gray);
}

#profile-picture {
    position: relative;
    top: -3vh;
    left: 17.5vw;
    height: 25vw;
    width: 17vw;
    z-index: 0;

    border-style: solid;
    border-width: 4rem;
    border-color: var(--blue);
    border-radius: 3%;

    background-size: cover;
    background-image: url("/moon_shot.png");
    background-position: center;

    transition: .2s ease-in-out;
    animation: levitate 6s linear infinite;
}

@keyframes levitate {

    0% {transform: translateY(0);}
    50% {transform: translateY(1%);}
    100% {transform: translateY(0);}

}


/* Cursor */

/* .cursor-dot {
    position: fixed;
    left: 10px;
    width: 0px;
    height: 0px;
    background-color: var(--gray);
} */

/* .cursor-outline {
    width: 40px;
    height: 40px;
    background-color: var(--gray);
}

.cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    transition: width 1000ms, height 1000ms;
}

.cursor-outline.large {
    height: 70px;
    width: 70px;
} */

/* RESPONSIVE MEDIA */

@media (max-width: 576px) {
    #title-box {
        padding: 30% 10% 10% 10%;
        scale: 95%;
    }

    .after-title {
        font-size: 35rem;
    }

    #profile-picture {
        position: absolute;
        top: 40%;
        left: 60%;
        width: 35vw;
        height: 20vh;
        filter: brightness(95%);
    }
}