/* ROOT VARIABLES */
:root {
    --darker-base: #EDC7B7;
    --base: #EEE2DC;
    --gray: #BAB2B5;
    --blue: #123C69;
    --ruby: #AC3B61;
    font-size: 1px;
}

@font-face {
    font-family: 'darker_grotesquelight';
    src: url('public/fonts/darkergrotesque-variablefont_wght-webfont.woff') format('woff2'),
        url('public/fonts/darkergrotesque-variablefont_wght-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: var(--dark);
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20rem 100rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    user-select: none;

    opacity: 0;
}



.navbar a {
    position: relative;
    margin-left: 40rem;
    user-select: none;

    font-family: 'Darker Grotesque';
    font-style: normal;
    font-size: 23rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--graphics);
}

.navbar a::before {
    content: '';
    position: absolute;
    margin-top: 3rem;
    top: 100%;
    left: 0;
    width: 0;
    height: 1.5rem;
    background-color: var(--graphics);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.main-page {
    position: relative;
    height: 100vh;
}

/* Main Title */
.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

/* Profile Picture */
.profile {
    position: relative;
    margin: 0 0 5vh 5vw;
    width: 70%;
    height: 100%;
    border-radius: 5%;
    z-index: 10;

    background-size: 100%;
    background-position: center center;
    background-color: var(--graphics);
    background-image: url("/profile-picture.jpg");
}

/* Text */
.title {
    margin: 0 0 0 0;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    opacity: 0.15;
    background: var(--graphics);
    top: -100%;
    left: -50%;
    width: 200%;
    height: 400%;
    border-radius: 50%;
    filter: blur(250em);
}

.title > #im-mackenzie {
    left: 0%;
}

.title > #im-mackenzie > #my-name {
    position: relative;
    font-size: 600%;
    color: var(--light);

    font-family: 'Darker Grotesque';
    font-weight: 600;
    font-style: medium;

    /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5),
        0 0 0.45em var(--graphics); */
}

.title > #im-mackenzie > #my-name:hover {
    font-size: 950%;
    padding: 0 0 0 0;
}

.title h1 {
    position: relative;
    color: var(--graphics);

    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 33rem;
    line-height: 41rem;
    letter-spacing: -0.02em;
}

.title strong {
    position: relative;
    color: var(--light);

    font-family: 'Darker Grotesque';
    font-style: medium;

    /*text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5),
        0 0 0.45em var(--graphics);*/
}

.title i {
    position: relative;
    color: var(--light);

    font-family: 'Darker Grotesque';
    font-style: normal;
    text-decoration: underline;

    /*text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5),
        0 0 0.45em var(--graphics);*/
}

.title p {
    position: relative;
    padding-top: 20rem;
    color: var(--graphics);

    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 450;
    font-size: 21rem;
    line-height: 41rem;
}

/* design picture */
.design-picture {
    position: absolute;
    border-radius: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    opacity: 10%;
    z-index: -10;

    background-image: url("/handstand_mountain.jpg");
    background-position: center center;
    background-size: 100%;
}

/* BALL PHYSICS */
canvas {
    position: absolute;
    background: transparent;
    bottom: 0;
    width: 100vw;
    height: 80vh;
    z-index: 1;
}