:root {
    --darker-base: #EDC7B7;
    --base: #EEE2DC;
    --gray: #757072;
    --blue: #123C69;
    --ruby: #AC3B61;
    --yellow: #C0987A;
    font-size: 1px;
}

#about-me-section {
    min-height: 100vh;
    background: var(--darker-base);
}